.about-page {
    position: relative;

    &__profile-image-1 {
        position: absolute;
        left: 4.5rem;
        top: 3rem;
        width: 200px;
        height: 200px;
        padding: 25px 35px 25px 35px;
        border: 1px solid #707070;
        border-radius: 50%;
        overflow: hidden;
        background-size: cover;
        z-index: 1;
        background-color: #e7e7e7;
    }

    &__profile-text-1 {
        border: 1px solid #707070;
        width: 55rem;
        height: 27rem;
        position: absolute;
        left: 13rem;
        top: 7rem;
        font-size: 1rem;

        h1 {
            padding: 3rem 0rem 3rem 5rem !important;
        }
    }

    &__profile-image-2 {
        position: absolute;
        left: 1rem;
        top: 33rem;
        width: 150px;
        height: 150px;
        padding: 25px 35px 25px 35px;
        border: 1px solid #707070;
        border-radius: 50%;
        overflow: hidden;
        background-size: cover;
        z-index: 1;
        background-color: #e7e7e7;
    }

    &__profile-text-2 {
        border: 1px solid #707070;
        width: 30rem;
        height: 15rem;
        position: absolute;
        left: 6rem;
        top: 36rem;

        h1 {
            padding: 3rem 0rem 2rem 5rem !important;
        }
    }

    &__profile-image-3 {
        position: absolute;
        left: 45rem;
        top: 33rem;
        width: 150px;
        height: 150px;
        padding: 25px 35px 25px 35px;
        border: 1px solid #707070;
        border-radius: 50%;
        overflow: hidden;
        background-size: cover;
        z-index: 1;
        background-color: #e7e7e7;
    }

    &__profile-text-3 {
        border: 1px solid #707070;
        width: 30rem;
        height: 20rem;
        position: absolute;
        left: 50rem;
        top: 36rem;

        h1 {
            padding: 3rem 0rem 2rem 5rem !important;
        }
    }
}