.service-card {
    background-color: #f8f8f8 !important;


    &__allservices-card {

        border: 1px solid $bg-color;
        // border-radius: 20px;
    }

    &__allservices-img {
        width: 20rem !important;
        height: 12rem !important;
    }

    &__allservices-col {
        padding-bottom: 2rem;
    }


}

.circle-all {
    background: #fff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid #fff;
    transition: all 1s ease-in;
}

.service-circle {
    transition: all .6s ease-in;
}

.service-circle:hover>.circle-all {
    transform: scale(1);
}
