// .service-heading {
//     background-color: #f8f8f8;
// }

.service-card {
    position: relative;

    &__title {
        color: #fff;
        background-color: #233142 !important;
        position: absolute;
        bottom: 28px;
        font-family: Ubuntu;
        font-weight: 700;
        font-size: 1rem;
        width: 100%;
        opacity: 0.8;
    }
}
