.service-card {
    background-color: #f8f8f8 !important;

    &__title {
        color: #fff;
        background-color: #233142 !important;
        position: absolute;
        font-size: 1rem;
        width: 100%;
        opacity: 0.8;
    }

    &__allservices-card {
        width: 20rem !important;
        height: 14rem !important;
        border: 1px solid $bg-color;
        border-radius: 20px;
    }

    &__allservices-img {
        width: 20rem !important;
        height: 12rem !important;
    }

    &__allservices-col {
        padding-bottom: 2rem;
    }
}