.header {
    background-color: #ffffff;

    &__h1-text {
        padding-top: 7rem;
        padding-bottom: 3rem;
        letter-spacing: 0.15rem;
        color: #707070;
    }

    &__top-icon {
        max-width: 100%;
        height: auto;
    }
}
