.sector {

    background-color: #ffffff;
    color: $color-3;


    &__sector-card {
        border: none !important;
    }

    &__sector-card-body {
        background-color: #ffffff;
        text-align: center !important;
    }



    &__sector-card-text {
        color: #CACACA;
        // font-size: 1rem;
    }

}


// Sectors
.circle {
    background: #1e90ff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sector-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sector-sub-section {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        margin: 0 !important;
        padding: 0 !important;

    }


}
