.sector {
    background-color: #ffffff;
    color: $color-3;
    padding: 7rem 0rem 7rem 0rem !important;

    &__sector-card {
        border:none !important;
    }

    &__sector-card-body {
       background-color: #ffffff;
       text-align: center !important;
    }

    &__sector-card-heading {
        font-size: 1.5rem !important;
        padding-bottom: 1rem !important;
        color: #252525;
    }

    &__sector-card-text {
       color: #CACACA;
       font-size: 1rem;
    }
   
}