.single-list {
    &__h1-text {
        letter-spacing: 0.15rem;
        color: #707070;
        padding: 2rem 0rem 2rem 0rem;
    }

    &__left-list {
        padding: 0rem 3rem 0rem 3rem !important;
        width: auto;
    }

    &__description {
        padding-top: 10rem;
    }
}