.no-row-1 {
    margin-left: 0px !important;
    margin-right: 0px !important;

}

.no-col-1 {
    padding-right: 0px !important;
    padding-left: opx !important;
}


.list-decor-ul {
    border: 1px solid $color-1;
}

.list-decor-li {
    border-bottom: 1px solid $color-1;
}