
// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:700,700i|Ubuntu:400,700');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'Ubuntu', sans-serif;
}

.my-nav{
  a {
    margin: 8px;
  }
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: $color-1;
  transition: width .3s;
}

.cool-link:hover::after {
  width: 100%;
  //transition: width .3s;
}