body {
    background: #f4f6fb !important;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.admin-icon {
    color: #339989;
}

.admin {

    .card-body {
        background: #fff !important;
    }

    &__card-header {
        background: #d8e3f499 !important;
        border-top: #5C8Df6 4px solid;
        color: #454B57 !important;
        border-bottom: 0;
        font-weight: 500;
    }

    &__card-body {


        i {
            font-size: 25px;
            color: $color-3;
        }
    }

    &__form-control {
        border-radius: 1.25rem !important;
        background: #f5f8fc;
        border-color: #d8e3f4;
    }

    &__upload-button {
        border-top-left-radius: 1.25rem !important;
        border-bottom-left-radius: 1.25rem !important;
        background: #5c8df6;
        color: #fff;
        border-color: initial;
    }

    &__upload-lable {
        border-top-right-radius: 1.25rem !important;
        border-bottom-right-radius: 1.25rem !important;
        background: #f5f8fc;
    }

    &__upload-lable::after {
        border-top-right-radius: 1.25rem !important;
        border-bottom-right-radius: 1.25rem !important;
        background: #454b57;
        color: #fff;
        border-color: initial;
    }
}

.social-links {
    display: flex;
    justify-content: space-between;

    &__individual {
        & a {
            color: #333;
            text-decoration: none;
        }

        &__icon {
            width: 2.5rem;
            height: 3.375rem;
        }
    }
}



.table-img {
    height: 7rem;
    width: 19rem !important;
    margin-bottom: 1rem !important;
}

.table-add-icon {
    font-size: 1.625rem;
    float: right;
}

.custom-control-label {
    padding-bottom: 1.5rem !important;
}



.submit_button {
    display: flex;
    justify-content: flex-end;
    padding-top: 0.875rem;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #5c8df6;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #f53b57;
}

input:focus+.slider {
    box-shadow: 0 0 1px $color-3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


//Checkbox Switch
.disable {
    background-color: #5c8df6ad !important;
}

.disable:hover {
    cursor: not-allowed;
}



.switch-c {
    width: 45px !important;
    height: 20px !important;
}

.slider.round-c {
    border-radius: 15px !important;
}

.slider-c::before {
    height: 12px !important;
    width: 12px !important;
}

//Hero li
.li-hero {
    border: initial !important;
}

//Underline
.p-line {
    border-bottom: 1px solid #5C8Df6;
    padding-bottom: 5px;
}

//Modal
.modal-content {
    background: #d8e3f4;

    .btn-primary {
        background: #5C8Df6 !important;
        font-weight: 500;
    }

    .btn-secondary {
        color: #5c8df6 !important;
        background: #fff !important;
        border-color: #5c8df6;
        font-weight: 500;
    }
}

.modal-header {
    color: #454b57;
    border-top: 4px solid #5c8df6;
}

.modal-body {
    background: #fff;
}

.modal-footer {
    background: #fff;
}

.close span {
    color: #7DE2D1;
}

//////////Tool Tip ////////////

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.msg-card {
    border-top-left-radius: 2.25rem !important;
    border-top-right-radius: 2.25rem !important;
    border-bottom-left-radius: 2.25rem !important;
    border-bottom-right-radius: 2.25rem !important;
    background-color: #e8eef8a3 !important;
}

.msg-card-header {
    border-top-left-radius: 2.25rem !important;
    border-top-right-radius: 2.25rem !important;
    border-bottom-left-radius: 2.25rem !important;
    border-bottom-right-radius: 2.25rem !important;
}

.msg-btn {
    color: #454b57 !important;
}

.msg-btn:hover {
    text-decoration: none !important;
}

.badge-c {
    background-color: #5c8df6;
    color: #fff;
}


// download icon
.ppt,
.pptx {
    background: #ff5722 !important;
    border-color: #f45320 !important;
}

.doc,
.docx {
    background: #135db2 !important;
    border-color: #135db2 !important;
}

.pdf {
    background: #ff5050 !important;
    border-color: #ff5050 !important;
}

.custom-file-label {
    border-color: #d8e3f4;
}


//dropdown hover effect
.dropdown-item-custom {
    transition: all .2s;
}

.dropdown-item-custom:hover {
    background: #b9ccf5;
}

.btn-admin {
    background: #5C8Df6 !important;
    font-weight: 500;
}

//Remove border from modal and box shadow
.modal-content {
    border: initial;
    box-shadow: 0 2px 6px 0 #00000033;
}
