body {
    background: $bg-color !important;
}

.admin-icon {
    color: #339989;
}

.admin {

    .card-body {
        background: $bg-color !important;
    }

    &__card-header {
        background: #2B2C28 !important;
        border-top: #7DE2D1 4px solid;
        color: #fff !important;
    }

    &__card-body {


        i {
            font-size: 25px;
            color: $color-3;
        }
    }

    &__form-control {
        border-radius: 1.25rem !important;
        background: $bg-color;
    }

    &__upload-button {
        border-top-left-radius: 1.25rem !important;
        border-bottom-left-radius: 1.25rem !important;
        background: #2b2c28;
        color: #fff;
    }

    &__upload-lable {
        border-top-right-radius: 1.25rem !important;
        border-bottom-right-radius: 1.25rem !important;
        background: $bg-color;
    }

    &__upload-lable::after {
        border-top-right-radius: 1.25rem !important;
        border-bottom-right-radius: 1.25rem !important;
        background: #7de2d1;
        color: #fff;
    }
}

.social-links {
    display: flex;
    justify-content: space-between;

    &__individual {
        & a {
            color: #333;
            text-decoration: none;
        }

        &__icon {
            width: 2.5rem;
            height: 3.375rem;
        }
    }
}

.add {
    float: right;
}

.table-img {
    height: 7rem;
    width: 19rem !important;
    margin-bottom: 1rem !important;
}

.table-add-icon {
    font-size: 1.625rem;
    float: right;
}

.custom-control-label {
    padding-bottom: 1.5rem !important;
}

.social__help {
    display: inline;
    float: right;

    & a {
        color: #7de2d1;
        font-size: 1.0625rem;
    }

    & p {
        display: none;
        color: #000000;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 15px;
        -webkit-clip-path: ellipse(50% 33% at 50% 48%);
        clip-path: ellipse(50% 33% at 50% 48%);
    }

    & a:hover {
        display: block;
    }

    & .help-animation {
        animation: glow .5s infinite alternate;
    }

    @keyframes glow {
        to {
            text-shadow: 0 0 10px #339989;
        }
    }
}

.submit_button {
    display: flex;
    justify-content: flex-end;
    padding-top: 0.875rem;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2b2c28;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #339989;
}

input:focus+.slider {
    box-shadow: 0 0 1px $color-3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


//Checkbox Switch
.disable {
    background-color: #2B2C28 !important;
}

.disable:hover {
    cursor: not-allowed;
}



.switch-c {
    width: 45px !important;
    height: 20px !important;
}

.slider.round-c {
    border-radius: 15px !important;
}

.slider-c::before {
    height: 12px !important;
    width: 12px !important;
}


//Underline
.p-line {
    border-bottom: 1px solid #339989;
    padding-bottom: 5px;
}

//Modal
.modal-content {
    background: #2B2C28;
}

.modal-header {
    color: #7DE2D1;
    border-top: 1px solid #7DE2D1;
}

.modal-body {
    background: #fff;
}

.modal-footer {
    background: #fff;
}

.close span {
    color: #7DE2D1;
}

//////////Tool Tip ////////////

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.msg-card {
    border-top-left-radius: 2.25rem !important;
    border-top-right-radius: 2.25rem !important;
    border-bottom-left-radius: 2.25rem !important;
    border-bottom-right-radius: 2.25rem !important;
    background-color: #dbdbdb !important
}

.msg-card-header {
    border-top-left-radius: 2.25rem !important;
    border-top-right-radius: 2.25rem !important;
    border-bottom-left-radius: 2.25rem !important;
    border-bottom-right-radius: 2.25rem !important;
}

.msg-btn {
    color: #2B2C28 !important;
}

.msg-btn:hover {
    text-decoration: none !important;
}

.badge-c {
    background-color: #2B2C28;
    color: #7de2d1;
}
