.admin-header {
    background: rgb(232, 238, 248);

    a {
        color: #5c8df6;
    }

}

.admin-nav {
    min-height: 2.0625rem !important;
    background: #5c8df6 !important;
    margin-bottom: 0;
    border-radius: 0;

    a {

        font-weight: 500;
    }

    // &>li>.navbar-brand {
    //     padding-top: 0.375rem !important;
    //     padding-bottom: 0 !important;
    //     height: 2.0625rem !important;
    // }
}

.list-group-custom {
    background: #fff !important;

    a {
        color: #777777e0 !important;

    }

    .active {
        background: #f5f6fa;
        border-left: 5px solid #718093;

        .fas {
            color: #fff !important;
            font-size: 20px;
        }

        a {
            color: #1e1e1e !important;
            font-weight: 500;
        }
    }

    a {
        .fas {
            margin-right: 0.25rem;
        }
    }

}
